/* * {
    padding: 0px;
    margin: 0px;
} */

.containeer {
    height: 100vh;
    width: 100vw;
    background-color: #180052;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr;
}

.item {
    background-color: rgb(178, 198, 23);
    height: 100px;
    width: 100px;
}